
@media only screen and (min-width : 1280px) {

	header {
		height:50px;		
	}
	
	#titulo h1 {
		font-size: 3em;
	}

	#titulo h3 {
		font-size: 2em;
	}
		
	
	footer p:after { 
		content:"Sitio optimizado para una resolución de ancho 1280px ó superior.";
		color:white; 
		text-align:center;
		display:block;
		width: 280px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:0;
		margin-top:0;
	}
	
	#logo-empresa img {
		content: url(../img/logo-1280-superior.png);
		width:240px;
		height:120px;
		margin-top: 30px;
	}
	
	#pruebas{
		width:100%;
		height:20%;
		position:absolute;
	}
	
	#saludo, #navegacion{
		display:inline;
		padding-top:5 px;
	}
	
	#navegacion{
		margin-top:-10px;
		margin-left:5px;
		float:left;		
	}
	
	#saludo{
		margin-top:5px;
		margin-right:5px;
		float:right;
	}
	
}