
/*****************************************************************************/
/*                          ESTILO BASE DEL SITIO                            */
/*****************************************************************************/
html,body {      /* notar que a la etiqueta html tambien se le aplica estilo */
   margin:0;     /* espacio de la pagina con los bordes del navegador */
   padding:0;    /* espacio del contenido de la pagina con el border del body */
   height:100%;  /* altura de la pagina de toda la capacidad que tenga la ventana del browser */
}

#contenido {
   min-height:100%;   /*la altura minima del contenedor debe ser el alto de la pagina */
   position:relative; /* posicion relativa */
}

header, footer {
   width: 100%;      /* ancho del header y footer */
   background-color:orange; /* color de fondo */
   color:black;             /* color del texto */
   text-align:center; /* texo centrado */
   padding:0px;       /* espacio del contenido con el borde del header */
}

header {
    width: 100%;
    height:100%;/*50px;*/
    text-align:center;  /*texo centrado */
    padding:0px;        /*espacio del contenido con el borde del header */
}

footer {
   position:fixed; /* la posicion debe ser absoluta */
   bottom:0;          /* margen inferior de cero */
   height:60px;       /* altura del footer */
   width: 100%; 
   text-align:center;  /*texo centrado */
   padding:0px;        /*espacio del contenido con el borde del header */
}

#titulo {
    width: 70%;
    margin-left: 10px;
    margin-top: 0px;
    text-align:left;
    display:inline-block;
    /* float:left; */
    padding: 0;
    padding-bottom:10px;
	
}

#titulo h1 {
    font-size: 1.6em;
    /*margin-top: 20px;*/
}

#titulo h3 {
	margin-top: -20px;
	font-size: 1.4em;

}

footer p {
    max-height:60px;   /* altura del footer */
    margin-left:auto;  /* centrado */
    margin-right:auto; /* centrado */
    margin-bottom:0;   /* sin margenes desde el borde superior del footer */
    margin-top:0;      /* sin margenes desde el borde inferior del footer */
}


footer p:after { 
        content:"Sitio optimizado para resolución entre 320px y 480px de ancho.";
        color:white; 
        text-align:center;
        display:block;
        width: 280px;
        margin-left:auto;
        margin-right:auto;
        
}

#cargandoAjax {
    position:absolute;
    left: 10px;
    top:50px;
    visibility:hidden;
}

#cargandoAjax img {
    width: 20px;
}
/*****************************************************************************/
/*                  ESTILOS DEL ÁREA DE CONTENIDO                            */
/*****************************************************************************/


input {
    height: 30px;
    width: 100%;
    margin: 0;
    padding: 10px;
    border: solid 1px black;
    border-radius:15px;
    font: inherit;
    font-size: 1em;
    box-sizing: content-box;
}

input[type="submit"], input[type="reset"] {
    width: 25%;
    min-width: 80px;
    margin-top: 5px;
    margin-left: 15%;
    padding-top: 10px;
    
    
}

#botonera{
    width: auto;
    margin-left:25%;
    margin-right:25%;
    margin-top:10%;
    margin-bottom:10%;
    padding-left:5%;
    padding-right: 5%;
    
}
/* SECTION LOGIN */


form[name="formularioLogin"] > fieldset {
    
    width: auto;
    min-width: 120px;
    margin-left:25%;
    margin-right:25%;
    margin-top:10%;
    margin-bottom:10%;
    padding-left:5%;
    padding-right: 5%;
    border-radius: 2em 0.5em;
}

/*fieldset {
    text-align:left;
}*/


#login input[type="button"] {
    width: 120px;
}

#login input[type="button"]:hover {
    background-color:white;
    color: windowtext;
}

#login input[type="submit"] {
    width: 120px;
    background-color:dodgerblue;
    color:white;
}

#login input[type="submit"]:hover {
    background-color:white;
    color:dodgerblue;
}

#usuario, #clave {
    width: 100%;
    margin-top:10px;
    margin-bottom:10px;
}

/*#login label {
    min-width: 80px;
    display:block;
}*/

/*#login input {
    width: 30%;
}*/

/*div.bienvenida{
    margin-top:150px;
    text-align:center;
	
}*/

/*#btnConfiguracion{
    display: inline-block;	
    height: 30px;
    width:100px;
    margin-left:auto;
   
}*/

#btnPresentacion{	
    height: 30px;
    width: 100px;
    margin-right:auto;
}
.btnFormato{    
    	display: inline-block;	
	height: 30px;
        width:100px;
	margin-left:auto;
}
input[type="button"]:hover {
    background-color:white;
    color: windowtext;
}

input[type="submit"]:hover {
    background-color:white;
    color: windowtext;
}

/*Inicio Bloque para pagina de configuracion*/
#superior{
	width:100%;
	height:80px;
	position:absolute;
	display:inline;
}

#saludo, #navegacion{	
	padding-top:5px;
	text-align:center;
}

/*li{
	display:inline-block;
}*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

/*#Datos{
	margin:auto;
	margin-bottom:10px;
	width:250px;
}*/

#btnAgrega, #btnSale{
    width:100px;
    height:auto;
}
/*Fin Bloque de imagen para Agregar*/
/*Inicio bloque buscar*/
#busqueda{
    margin-top:85px;
    height:40px;
    width:auto;
}

#txtBuscar{
    margin-left:50%;
    height:10px;
    width:100px;
}

#btnBuscar{
    width:auto;
    height:15px;
}
/*Fin bloque buscar*/
/*Inicio bloque grilla*/
#Grilla{	
	margin-left:auto;
	margin-right:auto;
}

#Grilla > table{
	width:100%;
}
.listarUsua table, th, td{	
        border: 1px solid black;
        width: 70%;
	margin-left:auto;
	margin-right:auto;
}

.styled-select {
   /*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;*/
   background: url(../img/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}
.styled-select.slate {
   /*background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;*/
   background: url(../img/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}


/*fin bloque grilla*/